*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:450px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h1{
    margin:15px 0;
    font-size:32px;
    color:#333;
    text-align:center;
}

/* Before Pseudo Element */
h1::before{
    content:"★ ";
    color:gold;
}

/* After Pseudo Element */
h1::after{
    content:" ✔";
    color:green;
}