.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color:  #1494a5;
  color: rgb(10, 10, 10);
}

.navbar h1 {
  margin: 0;
 
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: rgb(250, 244, 244);
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}