*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
padding:20px;
background:#f5f5f5;
}

.box{
width:220px;
padding:20px;
margin:20px;
text-align:center;
color:white;
font-weight:bold;
}

.static{
background:gray;
position:static;
}

.relative{
background:green;
position:relative;
left:40px;
}

.container{
position:relative;
height:120px;
border:2px dashed black;
margin:20px;
}

.absolute{
background:crimson;
position:absolute;
top:20px;
right:20px;
}

.fixed{
background:blue;
position:fixed;
bottom:20px;
left:20px;
}

.sticky{
background:orange;
position:sticky;
top:0;
}

.content p{
margin:30px 0;
}