*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(78, 51, 9);
}

.EmployeeId
{
    width: 500px; 
    height: 600px; 
    padding: 20px; 
    margin: 20px auto ;
    border: 2px solid rgb(4, 4, 34) ;
    background-color: white;
    color: rgb(9, 3, 32);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}

.EmployeeId img
{
    width: 400px; 
    height: 300px;
    margin-bottom: 15px;
}

.EmployeeId h2
{
  margin-bottom: 15px;
 
}

.EmployeeId h3
{
    margin-bottom: 15px;
    
}

.EmployeeId p
{
    margin-bottom:15px ;
}