*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
padding:50px;
background:#fff8dc;
}

.box{
width:180px;
height:100px;
margin:20px;
color:white;
font-size:25px;
display:flex;
justify-content:center;
align-items:center;
}

.box1{
background:crimson;
}

.box2{
background:darkgreen;

position:relative;
top:40px;
left:60px;
}

.box3{
background:darkorange;
}