
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #243b64;
}

.student-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.student-card {
    width: 30%;
    min-width: 250px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}


.student-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}


.student-card h2 {
    color: #243b64;
    margin-bottom: 10px;
}


.student-card p {
    margin: 8px 0;
    color: #555;
}

.student-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {

    body {
        background-color: #e8f4ff;
    }

    .student-card {
        width: 45%;
    }
}


@media (max-width: 576px) {

    body {
        background-color: #eafbea;
        padding: 20px;
    }

    .student-card {
        width: 100%;
    }

    h1 {
        font-size: 28px;
    }
}