

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}




body {
    background-color: #f5f7fa;
    color: #222;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

p {
    line-height: 1.6;
}




#header {
    background-color: #197019;
    color: white;

    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    font-size: 28px;
    font-weight: bold;
}

.navbar {
    display: flex;
    gap: 25px;
}




.navbar a {
    color: white;
    text-decoration: none;
}



.navbar > a {
    font-weight: bold;
}


.navbar a:hover {
    color: #ffd700;
}




.about-section {
    min-height: 400px;

    padding: 60px 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: #e8eefc;
}

.about-content {
    max-width: 700px;
}




.section {
    padding: 60px 30px;
    text-align: center;
}



.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    flex-wrap: wrap;
}

.skill-card {
    width: 150px;

    padding: 20px;

    border: 2px solid  #197019;
    border-radius: 10px;

    background-color: white;

    font-weight: bold;
}


.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25px;

    flex-wrap: wrap;
}

.project-card {
    width: 280px;

    padding: 25px;
    margin: 10px;

    border: 2px solid #ddd;
    border-radius: 12px;

    background-color: white;
}

.project-card h3 {
    margin-bottom: 15px;
}

.project-card p {
    margin-bottom: 20px;
}




button {
    padding: 10px 20px;

    border: none;
    border-radius: 5px;

    background-color:  #197019;
    color: white;

    cursor: pointer;
}

button:hover {
    background-color:  #197019;
}



.contact {
    background-color: #e8eefc;
}




footer {
    padding: 25px;

    background-color:  #197019;
    color: white;

    text-align: center;
}



@media (max-width: 768px) {

    #header {
        flex-direction: column;
        gap: 20px;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 30px;
    }

}